<ion-header>
  <ion-toolbar>
    <ion-title>Actions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-button (click)="clickedTest()">locations service test</ion-button>

  <p>
    Sample text here. Blah blah blah foo bar baz. Trying to fill up space.
  </p>

  <ion-list>
    <ion-item *ngFor="let act of (actions$ | async)">
      <ion-icon slot="start" [class]="'ao-' + actionTypes[act.type]"></ion-icon>
      <ion-label>
        <h2>{{actionTypes[act.type] | titlecase}}</h2>
        <p>{{act.description}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
